.button
  display inline-block
  min-width: 10em
  text-decoration none
  border-radius .35rem
  border solid 3px #efefef
  cursor pointer
  font-weight 400
  font-size 1rem
  padding 0 1.5em
  text-align center
  line-height 2.75rem
  color #787878
  text-transform capitalize
  background transparent
  transition .4s

  &:hover
    border-color #49bf9d
    color #49bf9d
