.page
  margin 0
  padding 0
  height 100%
  font 12pt/1.5 'Source Sans Pro', Helvetica, sans-serif
  color #a2a2a2
  *
    box-sizing border-box
  img
    max-width 100%
    vertical-align bottom
  :focus
    outline none
  ::-moz-focus-inner
    border 0
  p
    margin-bottom 2em
  textarea
    resize none
