.page
  margin 0
  padding 0
  height 100%
  font 300 13pt/1.5 'Source Sans Pro', Helvetica, sans-serif
  color #a2a2a2
  *
    box-sizing border-box
h1, h2, h3
  color #787878
  font-weight 400
h3
  font-size 1.75rem
  line-height 1.75rem
img
  max-width 100%
a
  color inherit
