.contactsForm
  &__textarea
    margin-bottom 2rem
    resize none

.contactsList
  margin 0
  list-style none
  &__item
    padding-left 1rem
    i
      position absolute
      font-size 1.25rem
      left -1.5rem
