.portfolio
  border-bottom solid 2px #efefef
  border-top solid 2px #efefef
  margin 4rem 0
  padding 4rem 0
  
  &__example
    cursor pointer
    position relative
    &:before
      height 100%
    &:hover:before
      background url('img/overlay.png')
      height 100%
      position absolute
    &_img
      border-radius 0.35rem
      width 100%
      margin-bottom 0.6rem
    &_title
      font-size 1rem
      margin 0 0 0.5em 0
    &_description
      font-size .8rem
      margin 0 0 2em 0