.heading
  color #787878
  font-weight 400
  margin-bottom 1em
  &_1
    font-size 2em
    line-height 1.5em
  &_2
    font-size 1.5em
    line-height 1.5em
  &_3
    font-size 1.35em
    line-height 1.75em
    margin-bottom 0
