.contacts
  h2.component_header Get In Touch
  p Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
  .row
    .col-sm-8
      form.contactsForm(method='post' action='#')
        .row
          .col-sm-6
            input.input.input_group(type='text' name='Name' placeholder='Name')
          .col-sm-6
            input.input.input_group(type='email' name='Email' placeholder='Email')
        .row
          .col-sm-12
            textarea.input.contactsForm__textarea(name='textarea' placeholder='Message')
      input.button.button_submit(type='submit' value='Send Message')
    .col-sm-4
      ul.contactsList.row
        li.contactsList__item.contactsList__item_address.col-xs-12
          i.fa.fa-home.icon
          | 1234 Somewhere Rd.
          br
          | Nashville, TN 00000
          br
          | United States
        li.contactsList__item.contactsList__item_address.col-xs-12
          i.fa.fa-mobile.fa-3.icon
          | 000-000-0000
          
        li.contactsList__item.contactsList__item_address.col-xs-12
          i.fa.fa-envelope-o.icon
          a.simple_link(href='#') hello@untitled.tld
