footer.mainFooter
  .socials
    a.socials__link(href="#")
      i.fa.fa-twitter
    a.socials__link(href="#")
      i.fa.fa-github
    a.socials__link(href="#")
      i.fa.fa-dribbble
    a.socials__link(href="#")
      i.fa.fa-envelope-o
  ul.copyrights
    li © Untitled
    li Design: 
      a.simple_link(href="#")|HTML5 UP
    li Demo Images: 
      a.simple_link(href="#")|Unsplash

