footer.mainFooter
  .socialLinks
    a.socialLinks__item(href="#")
      i.fa.fa-twitter
    a.socialLinks__item(href="#")
      i.fa.fa-github
    a.socialLinks__item(href="#")
      i.fa.fa-dribbble
    a.socialLinks__item(href="#")
      i.fa.fa-envelope-o

  ul.copyrights
    li.copyrights__item © Untitled
    li.copyrights__item Design: 
      a.link.link_dotted.link_uppercase(href="#") HTML5 UP
    li.copyrights__item Demo Images: 
      a.link.link_dotted(href="#") Unsplash
