header.mainHeader
  a.mainHeader__avatar(href="#")
    img(src="https://s.gravatar.com/avatar/1a1a71f4ba46aa91798dd1a6b48860f0?s=300")
  h3.mainHeader__info
    <strong>I am Strata</strong>, a super simple <br>
    | responsive site template freebie <br>
    | crafted by <a class="link link_dotted link_uppercase" href="#">HTML5 UP</a>.
