.portfolio
  h2.component_header Recent Work
  .row
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/01.jpg")
      h4.portfolio__example_title Magna sed consequat tempus
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/02.jpg")
      h4.portfolio__example_title Magna sed consequat tempus
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  .row
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/03.jpg")
      h4.portfolio__example_title Tortor metus commodo
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/04.jpg")
      h4.portfolio__example_title Quam neque phasellus
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  .row
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/05.jpg")
      h4.portfolio__example_title Nunc enim commodo aliquet
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      a.portfolio__example
        img.portfolio__example_img(src="img/06.jpg")
      h4.portfolio__example_title Risus ornare lacinia
      p.portfolio__example_description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  a.button Full Portfolio