doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet", href="style.css")
    title Strata
  body
    include ./_header.pug
    .main
      include ./_about.pug
    //-   include ./_portfolio.pug
    //-   include ./_contacts.pug
    //- include ./_footer.pug
