.address
  list-style none
  padding 0
  margin 0 0 2em 0

  &__item
    position relative
    margin-bottom 1.5em
    padding-left 2.25em
    line-height 1.75em
    font-style normal

  i
    position absolute
    top 0
    left 0
    width 1em
    text-align center
    color #b2b2b2
    font-size 1.25em
    line-height 1.5em
