header.hero
  a.hero__avatar(href="#")
    img(src="https://s.gravatar.com/avatar/1a1a71f4ba46aa91798dd1a6b48860f0?s=300")
  h1.heading.heading_2.hero__info
    strong I am Strata
    | , a super simple &nbsp;
    br
    | responsive site template freebie &nbsp;
    br
    | crafted by &nbsp;
    a.link.link_dotted.link_uppercase(href="#") HTML5 UP
    | .
