.mainFooter
  background linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
             url('../images/bg.jpg') bottom center / cover no-repeat
  padding 4rem 2rem 6rem 2rem
  position relative
  text-align center
  @media (min-width 992px)
    position fixed
    bottom 0
    left 0
    width 35%
    padding 1rem 4rem 3rem 1rem
    background none
    text-align right

.socialLinks
  &__item
    text-decoration none
    font-size 2rem
    color rgba(white, 0.4)
    margin 0 0.6rem
    transition 0.5s
    &:hover
      color #49bf9d
    @media (min-width 992px)
      font-size 1.4rem

.copyrights
  display block
  font-size .8rem
  padding 0
  &__item
    display inline-block
    padding 0 0.75rem
    margin-top .5rem
    line-height 1rem
    &:not(:last-child)
      @media (min-width 680px) and (max-width 992px)
        border-right 1px solid rgba(white, 0.4)
      @media (min-width 1420px)
        border-right 1px solid rgba(white, 0.4)
    @media (max-width 1420px) and (min-width 992px)
      display block
    @media (max-width 680px)
      display block
