.button
  text-decoration none
  background-color #fff
  border-radius .35rem
  border solid 3px #efefef
  cursor pointer
  display inline-block
  font-weight 400
  font-size 1rem
  padding 0 1.5em
  text-align center
  line-height 2.75rem
  transition 0.3s
  color #787878
  &:hover
    border-color #49bf9d
    color #49bf9d 