.input
  line-height 2.75rem
  background #f7f7f7
  border-radius 0.35em
  border 2px solid transparent
  color inherit
  display block
  outline 0
  padding 0 0.75em
  text-decoration none
  width 100%
  transition 0.3s
  &:focus
    border 2px solid #49bf9d
  &_group
    margin-bottom 1rem
