.link
  display inline-block
  text-decoration none
  line-height 1.2
  color inherit
  transition 0.3s
  &_dotted
    border-bottom dotted 1px
    &:hover
      color #49bf9d
      border-bottom-color transparent
  &_uppercase
    text-transform uppercase
