.link
  text-decoration none
  transition 0.3s
  display inline-block
  &_dotted
    border-bottom dotted 1px
    &:hover
      color #49bf9d
      border-bottom-color transparent
  &_uppercase
    text-transform uppercase
