@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

@import '../node_modules/font-awesome/css/font-awesome.min.css'
@import '../node_modules/simple-lightbox/dist/simpleLightbox.min.css'
@import '../node_modules/noty/lib/noty.css'
@import '../node_modules/noty/lib/themes/mint.css'

@import 'blocks'
