@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

@import '../node_modules/font-awesome/css/font-awesome.min.css'
@import '../node_modules/simplelightbox/dist/simplelightbox.min.css'

@import 'blocks'
