doctype html
html
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="./css/style.css")
    title Strata

  body.page
    include blocks/hero/hero
    .main
      include blocks/about/about
    //-   include ./_portfolio.pug
    //-   include ./_contacts.pug
    include blocks/footer/footer
