.form
  margin-bottom 30px
  &__input
    height 2.75em
    margin-bottom 20px
    background #f7f7f7
    border-radius 0.35em
    border 2px solid transparent
    color inherit
    outline 0
    padding 0 0.75em
    text-decoration none
    width 100%
    font-size 12pt
    line-height 1.75em
    box-shadow none
    &:focus
      border-color #49bf9d
    &:required:focus
      border-color tomato
  &__textarea
    padding .75em
    height auto
